# Ignore document and archive files
*.pdf
*.docx
*.zip

# Ignore folder act01
act01/

# Ignore node_modules folder in server_back
/server_back/node_modules/

# Ignore sensitive config file
/server_back/config/config.env
